<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LocationService</display-name>
  <icon/>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Service starter page</description>
    <display-name>Start</display-name>
    <servlet-name>Start</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/Start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartService</display-name>
    <servlet-name>StartService</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.StartService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartService</servlet-name>
    <url-pattern>/StartService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Status</display-name>
    <servlet-name>Status</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlindNodes</display-name>
    <servlet-name>BlindNodes</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.BlindNodes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlindNodes</servlet-name>
    <url-pattern>/BlindNodes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefNodes</display-name>
    <servlet-name>RefNodes</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RefNodes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefNodes</servlet-name>
    <url-pattern>/RefNodes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefNode</display-name>
    <servlet-name>RefNode</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RefNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefNode</servlet-name>
    <url-pattern>/RefNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlindNode</display-name>
    <servlet-name>BlindNode</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.Blindnode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlindNode</servlet-name>
    <url-pattern>/BlindNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rooms</display-name>
    <servlet-name>Rooms</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.Rooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rooms</servlet-name>
    <url-pattern>/Rooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Room</display-name>
    <servlet-name>Room</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RoomPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Room</servlet-name>
    <url-pattern>/Room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRoom</display-name>
    <servlet-name>NewRoom</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.NewRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRoom</servlet-name>
    <url-pattern>/NewRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Types</display-name>
    <servlet-name>Types</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.Types</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Types</servlet-name>
    <url-pattern>/Types</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Type</display-name>
    <servlet-name>Type</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.Type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Type</servlet-name>
    <url-pattern>/Type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewType</display-name>
    <servlet-name>NewType</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.NewType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewType</servlet-name>
    <url-pattern>/NewType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestPollSens</display-name>
    <servlet-name>RequestPollSens</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RequestPollSens</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestPollSens</servlet-name>
    <url-pattern>/RequestPollSens</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestPollRSSI</display-name>
    <servlet-name>RequestPollRSSI</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RequestPollRSSI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestPollRSSI</servlet-name>
    <url-pattern>/RequestPollRSSI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Goods</display-name>
    <servlet-name>Goods</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.Goods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Goods</servlet-name>
    <url-pattern>/Goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewGood</display-name>
    <servlet-name>NewGood</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.NewGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewGood</servlet-name>
    <url-pattern>/NewGood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Good</display-name>
    <servlet-name>Good</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.GoodPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Good</servlet-name>
    <url-pattern>/Good</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryLocations</display-name>
    <servlet-name>HistoryLocations</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.HistoryLocations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryLocations</servlet-name>
    <url-pattern>/HistoryLocations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDiagnostic</display-name>
    <servlet-name>RequestDiagnostic</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RequestDiagnostic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDiagnostic</servlet-name>
    <url-pattern>/RequestDiagnostic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNode</display-name>
    <servlet-name>DeleteNode</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.DeleteNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNode</servlet-name>
    <url-pattern>/DeleteNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNodeWithGood</display-name>
    <servlet-name>DeleteNodeWithGood</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.DeleteNodeWithGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNodeWithGood</servlet-name>
    <url-pattern>/DeleteNodeWithGood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistorySensor</display-name>
    <servlet-name>HistorySensor</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.HistorySensor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistorySensor</servlet-name>
    <url-pattern>/HistorySensor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestAllDiagnostic</display-name>
    <servlet-name>RequestAllDiagnostic</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RequestAllDiagnostic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestAllDiagnostic</servlet-name>
    <url-pattern>/RequestAllDiagnostic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestAllAutoRSSI</display-name>
    <servlet-name>RequestAllAutoRSSI</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RequestAllAutoRSSI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestAllAutoRSSI</servlet-name>
    <url-pattern>/RequestAllAutoRSSI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestAllAutoSens</display-name>
    <servlet-name>RequestAllAutoSens</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.RequestAllAutoSens</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestAllAutoSens</servlet-name>
    <url-pattern>/RequestAllAutoSens</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoom</display-name>
    <servlet-name>DeleteRoom</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.DeleteRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoom</servlet-name>
    <url-pattern>/DeleteRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGood</display-name>
    <servlet-name>DeleteGood</servlet-name>
    <servlet-class>it.ismb.locationService.servlet.DeleteGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGood</servlet-name>
    <url-pattern>/DeleteGood</url-pattern>
  </servlet-mapping>
</web-app>